    .menu, .menu-button {
        display: none;
    }
    
    .burger-menu-button {
        position: fixed;
        top: 8px;
        left: 5%;
        font-family: Righteous;
        font-size: 130%;
        z-index: 1;  
    }

    .main-title {
        opacity: 1;
        width: auto;
        line-height: 0.5;
        font-size: 200%;
     	color: #F5F5F5;
        padding: 10px 15px 0px 15px;
        border-radius: 5px;
        transition: all 0.4s ease-in-out;
        z-index: 1000;
        background: linear-gradient(to top,grey, black);
        background: rgba(43, 43, 43, 0.6);
    }
    
    .main-title:hover {
        opacity: 0.5;
    }
    
    .main-title:focus ~ .dropdown-menu-section, 
    .main-title:active ~ .dropdown-menu-section, 
    .dropdown-menu-section:hover { 
        display: block; 
    } 
    
    .dropdown-menu-section { 
        display: none;
        position: absolute;
        opacity: 1;
        padding: 5px 0 10px 7px;
        margin-top: 10px;
        border: 2px rgba(43, 43, 43, 0.9);       
        height: 85px;
        width: auto;
     	color: #F5F5F5;
        border-radius: 5px;
        background: linear-gradient(to top,grey, black);
        background: rgba(43, 43, 43, 0.6);
        z-index: 1000;
    }
    
    .menu-points    {
        padding: 10px 10px 10px 3px;
        width: auto;
     	color: #F5F5F5;
        line-height:30px;
        opacity: 1;
        transition: all 0.4s ease-in-out;
        z-index: 99;
    } 
    
    .menu-points:hover {
        opacity: 0.5;
    }

    .black-box {
       position: absolute;
       padding: 14% 3% 7% 5%;
       width: 92%;
       font-family: Righteous;
       font-size: 2.0em;
       line-height: 0.9em;
       text-shadow: -1px -1px #000, 0 1px 0 #444;
       color: #222;
   }