    body {
    background-color: black;
    color: white;
}
    span {
    color: white;
}
    nav {
     position: fixed;   
     text-decoration: none;
     color: white; 
     display: block;
     font-family: Calibri;
     font-size: 24px;
     letter-spacing: 1px;
     left: 1000px;
     top: 10px;
     z-index: 999;
}
    span {
    font-family: Calibri;
    font-size: 18px;
}
    .row {
      overflow: auto;
      width: 100%; 
}
    .bands-list {
      color: white;
      font-family: Calibri;
      font-size: 72px;
      letter-spacing: 5px;
      list-style: none;
      width: 94%;
      margin: 150px 0 100px 35px;
      padding-left: -1em; 
}