/*---------------------------- menu --------------------------*/

    .menu {
        position: fixed;
        top: 5px;
        left: 75.7%;
        font-family: Righteous;
        font-size: 3vh;
        overflow: hidden;
        z-index: 1;
        
    }
    .menu-button {
        opacity: 1;
        padding: 1vh 1.5vh 1vh;
        margin: 0vh;
        transition: all 0.7s cubic-bezier(0.42, 0, 0.57, 0.99);
    }
    .menu-button:hover {
        opacity: 0.5;   
    }
    
    .burger-menu-button, .main-title, 
    .dropdown-menu-section, .menu-points {
        display: none;
    }
   
/* -------------- Section left (list bands) -------------------------------- */
   
    
    .row {
        display: flex;
        display: -webkit-flex;
        flex-direction: ltr;
        -webkit-flex-direction: row;
    }
    
     .col1 {
     	float: left;
    	width:50%;
    }  
    
    .col1 li:hover  {
    	opacity: 1;
    	transform: translate(3%,0);
    }
    
    
  .col1 li:hover .arrow {
        transform: translateX(25px);
    	opacity: 1;
    }
    
    .col1 li:hover #arrow-pt  {
        transform: translateX(25px);
    	opacity: 1;
    }
    
/*---------------------------- Transition immage when hover items list  ---------------*/    
    
    #oe-img, #skrjabin-img, #tartak-img, #skaj-img, 
    #bumbox-img, #tnmk-img, #pt-img {
        position:absolute;
        width: 100%;
    	height: auto;
        z-index:4;
        transition: all 1s cubic-bezier(0.42, 0, 0.57, 0.99);
    	opacity: 0;
    }
    #oe-about, #skrjabin-about, #tartak-about, #skaj-about, 
    #bumbox-about, #tnmk-about, #pt-about {
        position:absolute;
        transition: all 1s cubic-bezier(0.42, 0, 0.57, 0.99);
        font-size: 3.5vh;
        overflow: hidden;
    	text-shadow: 2px 1px 9px  black;
    	color: aliceblue;
    	opacity: 0;
    }
    

/* -------------- Section right (foto with discription) -------------------------------- */
   
    .col2 {
        position: fixed;
        top: 0;
        left: 50%;
        width: 50%;
    	height: 100%;
    	overflow: hidden;
    }
    
    
    .img-bands-about p {
        position: absolute;
        top: 80%;
        padding: 0 0 5% 5%;
        width: 87%;
    	height: auto;
        font-family: 'EB Garamond', serif;
        z-index: 5;
    }

    .border-img {
        position: absolute;
        width: 100%;
        height: 800px;
    }
    
    #background-img {
        position:absolute;
        width: 100%;
    	height: auto;
        webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        transition: 1.5s ease-in-out;
    }
    
    #o-about {
        position: fixed;
        top: 80%;
        left: 48%;
        padding: 4vh;
        font-size: 4.0vh;
        font-family: Comfortaa, serif;
        font-weight: bold;
        overflow: hidden;
    	text-shadow: 2px 1px 9px  black;
    	color: aliceblue;
    	transition: all 1s ease-in-out;
    	opacity: 0.7;
    	z-index: -99;
    }
    
    #about-line {
        font-size: 6vh;
    }
    
    #about-box {
        height: 6vh;
        padding: 2.3vh 3vh 2.5vh 3vh;
        margin: 5vh auto;
        border: 0.8vh solid aliceblue;
        border-radius: 3.7vh;
    	opacity: 0.8;
        background: rgba(0,0,0,0.9);
    }
    
    
    video { 
        top: 0%;
        left: 0%;
        position:absolute;
        min-width: 193%;
        height: auto;
        z-index: -100;
        transform: translateX(-20%);
        background: url('images/love-ukrainian.jpg') no-repeat;
        background-size: cover;
        transition: 1s opacity;
    }
    
    
