    .menu, .menu-button {
        display: none;
    }
    
    .burger-menu-button {
        position: fixed;
        top: 8px;
        left: 5%;
        font-family: Righteous;
        font-size: 130%;
        z-index: 1;  
    }

    .main-title {
        opacity: 1;
        width: auto;
        line-height: 0.5;
        font-size: 200%;
     	color: #F5F5F5;
        padding: 10px 15px 0px 15px;
        border-radius: 5px 0 0 5px;
        transition: all 0.4s ease-in-out;
        z-index: 1000;
        background: linear-gradient(to top,grey, black);
        background: rgba(43, 43, 43, 0.6);
    }
    
    .main-title:hover {
        opacity: 0.5;
    }
    
    .main-title:focus ~ .dropdown-menu-section, 
    .main-title:active ~ .dropdown-menu-section, 
    .dropdown-menu-section:hover {
        visibility: visible;
        display: block; 
        width: 228px;
    } 
    
    .dropdown-menu-section {
        visibility: hidden;
        display: block;
        opacity: 1;
        padding: 0px 3px 10px 4px;
        margin-top: -36px;
        margin-left: 53.5px;
        border: 2px rgba(43, 43, 43, 0.9);       
        height: 33.7px;
        width: 0px;
     	color: #F5F5F5;
        overflow: hidden;
        background: linear-gradient(to top,grey, black);
        background: rgba(43, 43, 43, 0.6);
        z-index: 1000;
        transition: width 1.3s;
    }
    
    .menu-points    {
        padding: 0px 3px 0px 0px;
     	color: #F5F5F5;
        line-height:37px;
        opacity: 1;
        transition: all 0.4s ease-in-out;
        z-index: 99;
    } 
    
    .menu-points:hover {
        opacity: 0.5;
    }
    
    
/* -------------- Section left (list bands) -------------------------------- */
   
    .col1 {
        width: 100%;
    }
    
   ul {
       text-align: center;
   }
   
   #pt a {
       justify-content: center;
   }
   
  .col1 li:hover .arrow {
      transform: translateX(15px);
    	opacity: 1;
    }
    
  .col1 li:hover #arrow-pt  {
        transform: translateX(15px);
    	opacity: 1;
    }
    
/* -------------- Section right (foto with discription) -------------------------------- */
   
    .col2, .col2 li, .img-bands-about p,
    .border-img {
        display: none;
    }
    