body {
    background-color: black;
    color: white;
}
span {
    color: white;
}
nav {
     text-decoration: none;
     color: white; 
     display: block;
     font-family: Calibri;
     font-size: 24px;
     letter-spacing: 1px;
     position: fixed;
     left: 35px;
     top: 17px;
     z-index: 999;
    
}
